<div class="survey">
    <div class="rectangle">
        <div>
            <h3>Sondage n°{{ survey.id }} a commencé le {{ survey.openDate[2] }}/{{ survey.openDate[1] }}/{{
                survey.openDate[0] }} et se terminera le {{ survey.endDate[2] }}/{{ survey.endDate[1] }}/{{
                survey.endDate[0] }}.</h3>
        </div>
        <div [ngSwitch]="switchOption">
            <div *ngSwitchCase="'survey'">
                <h1>Voudriez-vous adhérer à un service d'assurance automobile Proxibanque?</h1>
                <div class="bouton">
                    <img class="img-icon" heigh="150" width="150" (click)="yes(survey)" src="./assets/yes.png">
                    <img class="img-icon" heigh="150" width="150" (click)="no(survey)" src="./assets/no.png">
                </div>
            </div>

            <div *ngSwitchCase="'yes'">
                <div>
                    <form (ngSubmit)="validatePos(formSurvey)" #formSurvey="ngForm">
                        <div class="form-group form-client">
                            <label for="nbclient">N°Client:</label>
                            <input type="number" class="form-control" id="clientNumber" [(ngModel)]="client.clientNumber"
                                required name="clientNumber" placeholder="Entrer votre numéro client (8 chiffres)">
                        </div>
                        <div *ngIf="isOk; else invalidClientNumber">
                            <h5>Merci pour votre participation! Vous serez contacté(e) dans un délai de {{dayNumber}}
                                jours par un de nos conseillers Proxibanque expert en assurance auto!</h5>
                        </div>
                        <ng-template #invalidClientNumber>
                            <p>Numéro invalide</p>
                        </ng-template>
                        <div class="bouton-valide"><button (click)="getDays()" type="submit" class="btn btn-success">Valider</button></div>
                    </form>
                </div>
            </div>

            <div *ngSwitchCase="'no'">
                <form (ngSubmit)="validateNeg(formComment)" #formComment="ngForm">
                    <div class="form-group form-client">
                        <label for="comment">Commentaire:</label>
                        <input class="form-control" [(ngModel)]="response.comment" id="comment" name="comment"
                            placeholder="Entrer votre commentaire">
                    </div>
                    <div *ngIf="isComment;else notComment">
                        <p> Votre avis est précieux !</p>
                    </div>
                    <ng-template #notComment>
                        <h3>Votre commentaire a bien été enregistré. Merci pour votre participation!</h3>
                    </ng-template>
                    <div class="bouton-valide">
                        <button type="submit" class="btn btn-success">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>